#calculator{
    width: 150px;
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

#screen{
    width: 100%;
    height: 50px;
    border: 5px solid black;
}