html, body {
  height: 100%;
  margin: 0; 
}
body{
    display: flex;
    justify-content: center;
}

#calculator{
    background-color: darkslategray;
    padding: 15px;
    margin-top: 25px;
    width: 250px;
    display: flex;
    flex-direction: column;
    height: 400px;
    border-radius: 10px;
}

.row{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

#screen{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100px;
    border: 5px solid black;
    background-color: whitesmoke;
    font-size: 1.5rem;
    padding: 2px;
  
}

#topRow{
    justify-content: flex-start;
    
}

button{
    margin: 10px;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    background-color: whitesmoke;
}