#calculator{
    width: 150px;
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

#screen{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 50px;
    border: 5px solid black;
}

#topRow{
    justify-content: flex-start;
    
}

button{
    margin: 10px;
}